:root {
  --form-border: 1px solid gainsboro;
  --form-input-focus: 0.5px solid skyblue;
  --primary: rgb(114, 28, 194);
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.mt-s {
  margin-top: 5px;
}

.p-1 {
  padding: 10px;
}

.px-1 {
  padding: 0px 10px;
}

.py-1 {
  padding: 10px 0px;
}
.mt-3 {
  margin-top: 30px;
}

.text-decoration-none {
  text-decoration: none;
}

.reg-form {
  border-radius: 5px;
  border: var(--form-border);
  background-color: white;
  padding: 50px;

  input {
      padding: 10px;
      border: var(--form-border);
      border-width: 0.6px;
      border-radius: 5px;
  }
  
  input:focus {
      outline: var(--form-input-focus);
  }

  button {
    border-radius   : 5px;
    outline         : 1px solid #f8f3ed;
    padding         : 10px;
    background-color: var(--primary);
    color           : white;
    font-size       : 14px;
    align-self      : center;
  }
}

.form {
  display         : flex;
  height          : '500px';
  background-color: #f8f3ed;
  border          : 2px solid skyblue;
  border-radius   : 10px;
  padding         : 100px;
  align-items     : center;
  flex-direction: column;

  input {
      border-radius: 4px;
      border-color : cadetblue;
      margin-bottom: 10px;
      padding      : 5px;
      margin-right : 13px;
      margin-top: 10px;
  }

  button {
      border-radius: 5px;
      border-color: unset;
      padding         : 10px;
      background-color: var(--primary);
      color           : white;
      font-size       : 14px;
  }

}